@model BlogXandy.Web.Models.Blog.DetalharPostViewModel
@{
    ViewBag.Title = "Post";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}
<h2>@Model.Titulo</h2>
<div>
    <div class="div-imagem icone-calendario"></div>
    @Model.DataPublicacao.ToString("dd/MM/yyyy HH:mm")
    <div class="div-imagem icone-autor"></div>
    @Model.Autor
    <div class="div-imagem icone-comentario"></div>
    @Model.QtdeComentarios
    @if (Request.IsAuthenticated)
    {
        <div class="div-imagem icone-editar"></div>
        @Html.ActionLink("Editar", "EditarPost", "Administracao", new { id = @Model.id },
                                                                         new { @class = "editar-post" })
        <div class="div-imagem icone-excluir"></div>
        @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = @Model.id },
                                                                         new { @class = "excluir-post" })
    }
</div>

<div>
    @Model.Descricao
</div>

<h2>Tags</h2>

<div class="Form-group">
    <ul id="resultado">
        @if (Model.Tags != null)
            {
                foreach (var item in Model.Tags)
                {
                <li>@Html.ActionLink(item, "Index", "Blog", new { tag = item, @class= "remover-tag icone-excluir" }, null)</li>
             
                    <input type="hidden" name="Tags" value="@item" />
            }
        }
    </ul>
</div>

<div>
    <h3>Novo Comentário</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true);
        @Html.HiddenFor(x => x.id)
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioNome)
            @Html.TextBoxFor(m => m.ComentarioNome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioNome)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioEmail)
            @Html.TextBoxFor(m => m.ComentarioEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioEmail)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioPaginaWeb)
            @Html.TextBoxFor(m => m.ComentarioPaginaWeb, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioPaginaWeb)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioDescricao)
            @Html.TextAreaFor(m => m.ComentarioDescricao, new {row = 8, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioDescricao)
        </div>

        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </p>

    }
    <div id="comentarios">
        <h3>Comentários</h3>
        @{
            var contador = 0;
        }
        @foreach (var item in Model.Comentario)
        {
            contador++;
            string id = "comentario" + contador.ToString();
            string cssClass = "text-info";
            if (item.AdmPost)
            {
                cssClass = "label label-info";
            }
            <div>
                <a id="@item.Id"></a>
                <p>
                    <span class="@cssClass">@item.Nome</span><br />
                    <small>
                        @item.DataHora.ToString("dd/MM/yyyy HH:mm:ss")
                        @if (!string.IsNullOrEmpty(item.PaginaWeb))
                        {
                            <text>|</text>
                            <a href="@item.PaginaWeb">@item.PaginaWeb</a>
                        }
                        @if (this.Request.IsAuthenticated)
                        {
                            <text>|</text>
                            @Html.ActionLink("Remover", "ExcluirComentario", "Administracao", new { id = item.Id }, new { @class = "excluir-comentario" })
                        }
                    </small>
                </p>
                @Html.Raw(Html.Encode(item.Descricao).Replace("\n", "<br />"))
            </div>

            if (contador < this.Model.Comentario.Count)
            {
                <hr />
            }
        }
    </div>
</div>








