@model BlogXandy.Web.Models.Administracao.CadastrarPostViewModel
@{
    ViewBag.Title = "EditarPost";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Administracao/CadastrarPost.js")"></script>
}

<h2>EditarPost</h2>
@using (@Html.BeginForm())
{
    <h2>CadastrarPost</h2>
    @Html.ValidationSummary(true);

    <div class="form-group">
        @Html.LabelFor(x => x.id)
        @Html.TextBoxFor(x => x.id, new { @class = "form-control", @disabled = "disabled" })
        @Html.ValidationMessageFor(x => x.id)
        @Html.HiddenFor(x => x.id)

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Titulo)
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Titulo)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Autor)
        @Html.TextBoxFor(x => x.Autor, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Autor)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DataPublicacao)
        @Html.TextBoxFor(x => x.DataPublicacao, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", Styles = "width: 200px" })
        @Html.ValidationMessageFor(x => x.DataPublicacao)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.HoraPublicacao)
        @Html.TextBoxFor(x => x.HoraPublicacao, "{0:HH:mm}", new { type = "time", @class = "form-control", Styles = "width: 200px" })
        @Html.ValidationMessageFor(x => x.HoraPublicacao)
    </div>

    <div class="checkbox">
        @Html.CheckBoxFor(x => x.Visivel)
        @Html.LabelFor(x => x.Visivel)
        @Html.ValidationMessageFor(x => x.Visivel)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Resumo)
        @Html.TextAreaFor(x => x.Resumo, new { rows = 8, @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Descricao)
        @Html.TextAreaFor(x => x.Descricao, new { rows = 8, @class = "form-control" })
    </div>


    <h2>Tags</h2>

    <div class="form-group cadastro-post">
        @Html.Label("Tag")
        @Html.TextBox("Tag", "", new { @class = "form-control" })

        <p>
            <input type="button" value="Adicionar" id="adicionar" class="btn btn-primary" />
        </p>

    </div>

    <div class="Form-group">
        <ul id="resultado">
            @if (Model.Tags != null)
            {
                foreach (var item in Model.Tags)
                {
                    <li><span>@item</span><a tag="@item" class="remover-tag icone-excluir" title="Remover"></a></li>
                    <Input type="hidden" name="Tags" value="@item" />
                }
            }
        </ul>
    </div>



    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </p>
}

